@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Nunito',sans-serif;
    font-weight: 400;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}


.sticky{
    position: fixed;
    top: 0%;
    z-index: 300;
}

.change.navbar-link{
    color: #fff;
    
}

.change.navbar-link::before{
    width: 130%;
    
}
/*section 1 */
.section-1{
   width: 100%;
   height: 100vh;
   background: linear-gradient(rgba(255,255,255,.2),rgba(255,255,255,.3)) ,
   url(/images/Bg.avif);
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


.section-1-heading{
    font-size: 6rem;
    font-weight: 700;
    color: #fff;
    background-color:#5DA0A2 ;
    padding: 0 3rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    border-bottom: .3rem solid #fff;
    text-shadow: .2rem .2rem 1ren #555;
    transform: skew(-10deg);
    position: relative;

}

.person-img{
    width: 25rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 50%;
    border: .7rem dotted #5DA0A2;
    background-color: rgba(255,255,255,.7);
    padding: .5rem;
    opacity: .9;
    position: absolute;
    left: 65%;
    top: 45%;

}

.person-name{
    font-size: 2rem;
    color: #fff;
    background-color: #5DA0A2;
    margin: 5rem 0;
    padding: .5rem 3rem;
    letter-spacing: .3rem;
    transform: skew(-10deg);
}

.section-1-btn{
    font-size: 1.7rem;
    font-weight: 700;
    color:#333;
    background-color: #fff;
    border: .3rem solid #333;
    padding: .5rem 1rem;
    text-transform: uppercase;
    border-radius: .5rem;
    transform: skew(-10deg);

}

/*end of section 1 */
/*navbar */
.navbar{
    width: 100%;
    height: 4rem;
    background-color: #5DA0A2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: .2rem .2rem .5rem #555;
    transition: all .3s ease;
    
   
}

.navbar-link{
    font-size: 1.7rem;
    font-weight: 600;
    color: #fff;
    margin: 0 3rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    position: relative;
    transition: all .3s;
}

.navbar-link:hover {
    color: #34495E;
    transform: scale(.8);
    transition: all .3s ease;
    
}
.navbar-link::before{
    content: '';
    width: 0%;
    height: .2rem;
    background-color: #AACFD0;
    position: absolute;
    right: -15%;
    bottom: -.5rem;
}

.navbar-link:hover::before{
    width: 130%;
    transition: width .3s ease;
}
/*end of navbar */

/*section-2*/
 .section-2{
    width: 100%;
    height: 100%;
    padding: 15rem 0 10rem 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;

 }
.section-2-heading{
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom:5rem;
    border-bottom: .3rem solid#333;
    text-shadow: .2 .2 .5 #555;

}

.card-wrapper{
    margin-bottom: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card-wrapper .card{
    border:  .1rem #34495E solid;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    background-color:#34495E ;
    color: #fff;
    border-radius: 3rem;
    width: 40rem;
    height: 30rem;
}

.card-wrapper .card p{
    font-size: 1.4rem;
}

.card-wrapper .card h2{
    font-size: 3rem;
}
.services {
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5rem;
    

}
.service:first-child,
.service:last-child{
    align-self: flex-start;
}

.service{
    text-align: center;

}
.service i {
    font-size: 10rem;
    color: #888;
    margin-bottom: 2rem;
    text-shadow: .1rem .1rem .5rem #555;

}

.service h2{
    font-size: 2rem;
    color:#fff;
    background-color: #777;
    width: 25rem;
    letter-spacing: .3rem;
    transform: skew(-10deg);
    box-shadow: .2rem .2rem .5rem #555;
}

.service:hover{
    transform: translateY(30px);
    transition: all.3s ease;
}

/*end of section-2 */

/*section-3 */


.section-3{
    width: 100%;
    height: 100%;
    padding: 10rem 0;
    background-color: #eef;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section-3-heading{
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom:5rem;
    border-bottom: .3rem solid#333;
    text-shadow: .2 .2 .5 #555;
}

.project-wrapper{
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.project_img{
    width: 40rem;
    
    
}
.project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    background-color: #fff;
    box-shadow: .3rem .3rem .5rem #777;
    height: 40rem;
    position: relative;
    overflow: hidden;
    transition: box-shadow .3s ease;
    border-radius: 5rem;
    
}
.project:hover .project-text{
    top: 5rem;
}
.project-text{
    text-align: center;
    letter-spacing: .3rem;
    position: absolute;
    top: -10rem;
    transition: top .3s ease;
    z-index: 2;
}

.project-name{
    font-size: 3rem;
    font-weight: 300;
    color:#333;
    text-transform: capitalize;


}

.project-tech{
    font-size: 1.8rem;
    color:#e41c6f;

}
.project-link{
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    letter-spacing: .1rem;
    border: .3rem solid #e41c6f;
    padding: 0 1rem;
    background-color: #fff;
    position: absolute;
    bottom: -5rem;
    transition: bottom .3s ease;
}

.project:hover .project-link{
    bottom: 5rem;
}

.project:hover .project_img{
    opacity: .2;
    transition: opacity .3s ease;
}

.project:hover{
    box-sizing: 1rem 1rem 1rem #777;
}
/*end of section-3 */

/*section-4 */

.section-4-heading{
    font-size: 5rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: .5rem;
    margin-bottom:5rem;
    border-bottom: .3rem solid#333;
    text-shadow: .2 .2 .5 #555;
}

.section-4{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #555;
  
}

.section-4-heading{
    color: #fff;
    box-shadow: none;
    border-color: #fff;
    margin-bottom: 5rem;
}

.contact-form{
    width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


.contact-form input ,.contact-form textarea{
    width: 100%;
    padding: .5rem;
    margin: .3rem 0;
    background-color: #eef;
    font-size: 1.5rem;
    border: .2rem solid #e41c6f;
    color: #555;
    transition: all .3s ease;
}

.contact-form input:hover{
 background-color: #555;
 color: #fff;
 transform: scale(1.1);
 transition: all .3s ease;
}

.contact-form textarea{
    height: 10rem;
    max-height: 15rem;
    max-width: 100%;
}
.contact-form .contact-form-btn{
    background-color: #e41c6f;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .1rem;
    cursor: pointer;
}
/*end of section-4 */


/*footer */

.footer{
    width: 100%;
    height: 30vh;
    background-color: #222;
    color: #777;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-links i{
    font-size: 5rem;
    margin: 2rem;
    cursor: pointer;
    transition: all .3s ease;
}

.footer-links i:hover{
    color: #888;
    transform: scale(1.3);
    transition: all .3s ease;
}
/*end of footer */

/*responsive */
@media(min-width:1500px){
    .person-img{
        left: 68%;
        top: 46%;
        width: 20rem;
        height: 20rem;
    }
}
@media(min-width:1200px){
    .person-img{
        left: 68%;
        top: 53%;
    }

}
@media(max-width:1200px){
    .services{
        height: auto;
        flex-wrap: wrap;
    }

    .service{
        margin: 3rem 2rem;
    }

    .section-4{
        height: 80vh;
    }

    .person-img{
        left: 68%;
        top: 49%;
        width: 20rem;
        height: 20rem;
        
       
    }

    @media(max-width:800px){
        .section-1-heading{
            font-size: 4rem;

        }
        .person-img{
            left: 70%;
            top: 40%;
            width: 20rem;
            height: 20rem;
        }
    }
    @media(max-width:600px){
        .section-1-heading{
            font-size: 3rem;

        }
        .navbar-link{
            margin: 0 2rem;
            font-size: 1.5rem;

        }
        .section-2{
            padding: 10rem;

        }
        .section-2-heading{
            margin-bottom: 10rem;

        }

         .project_img{
            width: 100%;
            
         }
         .contact-form{
            width: 40rem;
         }
         .person-img{
            left: 68%;
            top: 65%;
            width: 16rem;
            height: 16rem;
        }
    }
    @media(max-width:500px){
        html{
            font-size: 55%;
        }
        .person-img{
            left: 70%;
            top: 70%;
            width: 15rem;
            height: 15rem;
        }
    }
    @media(max-width:450px){
        html{
            font-size: 45%;
        }
        .section-1-heading{
            font-size: 2.5rem;
        }

        .navbar-link{
            margin: 0 1.5rem;
        }
        .section-2-heading{
            text-align: center;

        }
        .person-img{
            left: 30%;
            top: 0%;
            width: 15rem;
            height: 15rem;
        }


    }
}
/*end of responsive*/